* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}




@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #FFFFFF;
}

.header {
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}



.navbar {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.navbar h4 {
    font-weight: 700;
}

.g3 {
    font-size: 2.2rem;
    color: tomato;
}

.flex {
    display: flex;
}

.flex2 {
    display: none;
}


ul li {
    list-style: none;
    font-size: 700;
}

ul li a {
    text-decoration: none;
    color: black;

}

ul {
    gap: 3rem;
}

.btn1 {
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    text-align: center;
    font-size: 700;
}

.btn2 {
    padding: 10px 25px;
}


.brand {
    max-width: 1440px;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 6rem;
}

.brand-content {
    width: 100%;
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.brand-content h1 {
    font-size: clamp(2rem, 6vw, 4.5rem);
    font-weight: 700;
}

.brand-content,
h1,
p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.brand-content p {
    color: #727272;
}


.heroimage {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
}


/* main section srtat  */

main {
    max-width: 1440px;
    margin: 5rem auto;
    padding: 0 16px;

}

.features {
    width: 100%;
}

.containar-image4 {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.containar-image4 img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}


.features {
    align-items: center;
    gap: 4rem;
}

.features-text {
    max-width: 537px;
}

.features-text p {
    color: #727272;
    line-height: 1.5;
}

.features-text h1 {
    font-size: clamp(2rem, 6vw, 4.5rem);
    line-height: 1.1;
}

.s1 {
    color: #727272;
    font-weight: 500;
}

.s2 {
    color: black;
    font-weight: 700;

}

.s3 {
    color: #FF900E;
    font-weight: 700;
}



.crad {
    display: flex;
    max-width: 1440px;
    margin: auto;
    padding: 4rem 16px;
    gap: 2rem;

}

.crad-container {
    border: 1px solid red;
    width: 100%;
    max-width: 586px;
    margin-top: 2rem;
    padding-bottom: 0;

}

.crad-container p {

    color: #727272;
}

.crad-titel {
    border-left: 3px solid orange;
    padding-left: 1rem;

}

.crad-box {
    max-width: 586px;
    min-height: 171px;
    border-color: #727272;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding: 1rem;
    margin-top: 1rem;
}

.crad-box p {
    color: #727272;
}

.crad-box h1 {
    font-size: clamp(1.2rem, 6vw, 1.2rem);
}

.crad-images {
    width: 100%;
    max-width: 800px;
    min-height: 1059px;
    border: 1px solid red;



}

.crad-imagesbx2 {
    width: 100%;
    max-width: 708px;
    min-height: 782px;
}

.crad-images img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;

}





/* main section srtat  */

@media screen and (max-width: 576px) {

    .header {
        width: 100%;
    }

    .flex {
        flex-direction: row;
        gap: 5px;
    }

    ul li {
        display: none;
    }

    .flex2 {
        display: block;
        margin-right: 0.7rem;
    }


    .features,
    .containar-image4 {
        flex-direction: column;

    }

    .containar-image4 {
        width: 100%;
        gap: 0.5rem;
    }

    .features {
        gap: 4rem;
    }


}