* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}




@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    max-width: 1440px;
    margin: auto;
}



.navbar {
    height: 60px;
    justify-content: space-between;
    align-items: center;


}

.flex {
    display: flex;
}


ul li {
    list-style: none;
    font-size: 700;
}

ul li a {
    text-decoration: none;
    color: black;

}

ul {
    gap: 3rem;
}

.btn1 {
    padding: 20px 25px;
    background-color: tomato;
    border-radius: 8px;
    border: none;
}


.brand {

    margin: 6rem;
}

.brand-content {
    width: 100%;
    max-width: 850px;
    text-align: center;
    margin: 0 auto;

}

.heroimage {
    width: 100%;
    height: auto;
}