* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}




@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    background: rgba(255, 144, 14, 0.1);
}



.navbar {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
    height: 60px;
    justify-content: space-between;
    align-items: center;


}

.flex {
    display: flex;
}

.flex2 {
    display: none;
}


ul li {
    list-style: none;
    font-size: 700;
}

ul li a {
    text-decoration: none;
    color: black;

}

ul {
    gap: 3rem;
}

.btn1 {
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
}


.brand {
    max-width: 1440px;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 6rem;
}

.brand-content {
    width: 100%;
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;


}

.brand-content h1 {
    font-size: 4rem;
    font-weight: 700;
}

.brand-content,
h1,
p {
    margin-bottom: 1rem;
}



.heroimage {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
}


/* main section srtat  */

main {
    max-width: 1440px;
    margin: 5rem auto;
    padding: 0 16px;

}

.features {
    width: 100%;
}

.containar-image4 {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.containar-image4 img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}




/* main section srtat  */

@media screen and (max-width: 576px) {
    .flex {
        flex-direction: row;
        gap: 5px;
    }

    ul li {
        display: none;
    }

    .flex2 {
        display: block;
    }
}